<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFM98xx4Q-kIXqvmdDjoa7qIns3OR2d2w</string>
	<key>GCM_SENDER_ID</key>
	<string>488297681067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foo.Counter</string>
	<key>PROJECT_ID</key>
	<string>firstfirebase-2401f</string>
	<key>STORAGE_BUCKET</key>
	<string>firstfirebase-2401f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488297681067:ios:3413318f791afba21467ee</string>
	<key>DATABASE_URL</key>
	<string>https://firstfirebase-2401f.firebaseio.com</string>
</dict>
</plist>